.image-container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.image-container img {
    width: 100%;
}

.hotspot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(var(--bs-primary-rgb) , 1);
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s infinite;
}

.hotspot::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background: rgba(var(--bs-primary-rgb), 1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: radar 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 0 0 rgba(var(--bs-primary-rgb), 0.7);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(var(--bs-primary-rgb), 0);
    }
}

@keyframes radar {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

.hotspot-tooltip {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, -100%);
    background: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    width: 300px;
    padding: 1rem;
    white-space: normal;
    word-wrap: break-word;
    z-index: 99;
}

.hotspot:hover .hotspot-tooltip {
    opacity: 1;
    visibility: visible;
}

/* Tooltip arrow */
.hotspot-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
}
